@font-face{
 font-family:'Textile Regular';
 src:url(fonts/textile-webfont.eot);
 src:url(fonts/textile-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/textile-webfont.woff2) format("woff2"),url(fonts/textile-webfont.woff) format("woff"),url(fonts/textile-webfont.ttf) format("truetype"),url(fonts/textile-webfont.svg#textileregular) format("svg");
 font-weight:400;
 font-style:normal
}
.iasip{
 font-family:"Textile Regular"
}
.iasip-body{
 background:#000;
 color:#FFF
}
